:root {
    --primary-text1-color: #000;
    --primary-text2-color: #888;
    --primary-text3-color: #666;
    --secondary-text1-color: #eee;
    --elem-primary-color: #fff;
    --elem-primary-high-color: #ccc;
    --elem-primary-sel-color: #aaa;
    --mec1-color: #00f;
    --mec2-color: #00f;
}