:root {
    --main-background-color: #fff;
    --main-background-tint-color: #eee;
    --main-background-error-color: #ecc;
    --main-text-priamry-color: #000;
    --main-text-secondary-color: #484848;
    --main-elem-primary-color: #eaeaea;

    --auxiliary-background-color: #2e2e2e;
    --auxiliary-background-tint-color: #3e3e3e;
    --auxiliary-text-primary-color: #fff;

    --star-color: #ffd700;
}