.movie-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 20px;

    margin-bottom: 20px;
}

.movie-form>div{
    width: 50%;
    min-width: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
}

.movie-form>div>input:not([type='button']), textarea{
    width: 60%;
    min-width: 200px;
}

textarea{
    height: 120px;
}

.movie-duration-inputs-section{
    display: flex;
    align-items: flex-start;
}

.movie-form input.movie-duration{
    min-width: 40px;
    width: 40px;
}

#movie-director{
    font-weight: 600;
}

.movie-form .error-text{
    max-width: 300px;
    color: var(--main-text-error-color);
    font-weight: 600;
}

.movie-form .success-text{
    font-weight: 600;
}