.user-row{
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr;

    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: var(--main-background-color);
    color: var(--main-text-primary-color);
    border-color: var(--main-text-primary-color);

    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

.user-row:first-child{
    border-width: 1px 0px 1px 0px;
}

.no-field{
    
}

.username-field{

}

.rank-field{

}

.email-field{
    
}
